<div class="container">
  <div class="row">
    <ul class="nav nav-tabs col-md-12">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="servers">Servers</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="users">Users</a>
      </li>
    </ul>
  </div>
  <br>
  <router-outlet></router-outlet>
</div>
