<div class="container">
  <p>1. Add a inptu field which updates a property ('username') via Two-Way-Binding</p>
  <p>2. Output the username property via string interpolation (in a paragrpah below input)</p>
  <p>3. add a button which may only be clicked if the username is NOT an empty string</p>
  <p>4. Upon Clicking the button, the username should be reset to an empty string </p>
  
  <hr>

  <label>UserName : </label>
  <input type="text" class="form-control" [(ngModel)]="UserName" >
  <p>{{ UserName }}</p>
  <button [disabled]="UserName === ''" (click)=" UserName = ''" >Reset User</button>
</div>