<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <a 
        *ngFor="let server of servers"
        [routerLink]="['/servers', server.id]" 
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}" 
        fragment="loading" href="#" 
        class="list-group-item">
        {{server.name}}
      </a>
    </ul>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
    <!-- <button class="btn btn-primary" (click)="onReload()">Reloade Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

