<h1>Bind it!</h1>
<div class="container"> 
  <ol>
    <li>Create three new components: GameControl, Odd and Even</li>
    <li>The GameControl Component should have button to start and stop the game</li>
    <li>When Starting the game, an event(holding a incrementing number) should get emitted each second (ref=setinterval())</li>
    <li>The event should be listenable form outside the component</li>
    <li>when stopping the game, no more event should get emitted (clearinterval())</li>
    <li>A new odd component should get created for every odd number emitted, the same should happen for the Even Component(on even numbers)</li>
    <li>Simply output odd - Number or even - NUMBER in the two components</li>
    <li>style the element holding your output text differently in both components</li>
  </ol>
  <hr>
  <br>
  
</div>


